<h2>
  This is my work relative stuff.
</h2>
<p>
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odit repudiandae maxime soluta quo, voluptas excepturi nisi
  assumenda deserunt eveniet quae fugit nemo molestias ipsam ab blanditiis commodi beatae, ad asperiores!
</p>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur praesentium tempora aliquid, sunt deleniti nulla
  exercitationem qui error quas laudantium.
</p>
<p>
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde temporibus error aperiam hic laudantium veniam facere
  similique repudiandae! Natus officia cumque ratione veniam, nisi deserunt necessitatibus quis iste non. Harum
  dignissimos enim magnam, temporibus assumenda cum eaque illo, quidem rem ad labore hic architecto quasi qui porro?
  Sapiente, corporis architecto.
</p>

<ul>
  <li>
    <a routerLink="workExp">work experience</a>
  </li>
  <li>
    <a routerLink="workPortfolio">work portfolio</a>
  </li>
</ul>
<router-outlet></router-outlet>
